* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background: var(--primary) !important;
  color: var(--five) !important;
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
}
#mobile-toggle i {
  font-size: 2rem;
  color: var(--TEN);
}
#mobile-toggle i:hover {
  color: var(--five);
}
#mainnav {
  background: var(--primary);
}
#mainnav #logo-img {
  height: 30px;
  padding: 0px !important;
  margin-top: 3px !important;
}
#mainnav #Logo .navbar-brand {
  color: var(--five);
  font-family: "Caveat", sans-serif!important;
  font-size: 1.5rem;
  font-weight: 900 !important;
}
#mainnav #Logo .navbar-brand span {
  margin-left: 5px;
  color: var(--TEN);
  font-family: "Caveat", sans-serif!important;
  font-size: 1.5rem;
}
#nav {
  justify-content: center !important;
  text-decoration: none !important;
  font-family: "sora" sans-serif !important;
}
#nav-ul .nav-item a {
  color: var(--five) !important;
  font-family: "sora", sans-serif;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 0.6px;
  font-size: 0.8rem;
}
#nav-ul .nav-item a:hover {
  color: var(--TEN) !important;
  transition: 2s;
  transform: translateY(-4px);
}
#mainnav #nav #nav-ul .nav-item .active {
  color: var(--TEN) !important;
  padding-bottom: 4px;
  position: relative;
}

 .icon-nav{
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 0.6rem;
  border-radius: 50%;
  background: var(--TEN);
  align-items: center!important;
  text-align: center;
  top:13px;
  color: var(--five);
}
#nav-ul .nav-item .nav-icons:hover {
  color: var(--TEN) !important;
  transition: none;
  transform: none;

}
#navoffcanvas-header .btn-close {
  font-size: 20px;
}
#navoffcanvas #navoffcanvas-header {
  background: var(--five);
  color: var(--TEN);
}
.offcanvas-body li {
  font-weight: 700;
  font-family: "Sora", sans-serif;
  border-bottom: 2px solid var(--primary) !important;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.section-two-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    gap: 15px;
}
.section-two-card h2{
    font-size: 24px;
}
.categories{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.category-btn ,.cart-button{
    border: 2px solid var(--line);
    background: var(--primary);
    padding:9px 15px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--five);
    
}
.cart-button:hover{
    color: var(--TEN);
}
.category-btn:hover ,.category-btn.active{
    border-color: var(--TEN);
    color: var(--five);
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-bottom: 50px;
}
.product-card{
 background: var(--primary);
 border-radius: 12px;
 overflow: hidden;
 transition: 0.3s;
 position: relative;
 border: 1px solid var(--line);
 display: flex;
 flex-wrap: wrap;
 
}
.product-card:hover{
    transform: translateY(-5px);
    
}
.product-img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    padding: 3%;
    border-radius: 10px;
}
.discount{
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--five);
    color: var(--primary);
    padding: 5px 9px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.product-info{
    padding: 16px;
}
.product-category{
    font-size: 12px;
    color: var(--five);
    font-weight: bold;
    text-transform: uppercase;
}
.product-name{
    font-size: 18px;
    margin: 7px 0;
}
.product-description{
    font-size: 13px;
    color: var(--five);
    min-height: 38px;
}
.price{
    margin: 12px 0;
}
.new.price{
    color: var(--five);
    font-size: 20px;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
    color: var(--five);
    margin-left: 7px;
    font-size: 13px;
}
.add-cart{
    width: 100%;
    border:none;
    background: var(--TEN);
    color: var(--five);
    padding: 11px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    
}
.add-cart:hover{
    background: var(--primary);
    border: 1px solid var(--TEN);
    color: var(--TEN);
}
.no-result{
    display: none;
    text-align: center;
    padding: 50px;
    color: var(--five);
    grid-column: 1/-1;
}
.no-result h3{
    font-size: 25px;
    margin-bottom: 8px;
}
.cart-panel{
    position: fixed;
    right: -430px;
    top:0;
    width: 400px;
    max-width: 90%;
    height: 100vh;
    background: var(--primary);
    z-index: 10000;
    box-shadow: -5px 0 25px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
}
.cart-panel.open{
    right: 0;
}
.cart-header{
    padding: 20px;
    background: var(--primary);
    color: var(--five);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-cart{
    background: transparent;
    border: none;
    color: var(--five);
    font-size: 25px;
    cursor: pointer;
}
.cart-items{
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}
.cart-item{
    display: flex;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px solid var(--TEN);
}
.cart-item img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 7px;
}
.cart-item-info{
 flex: 1;
}
.cart-item-info h4{
    margin-bottom: 5px;
}
.cart-price{
    font-weight: bold;
}
.quantity{
    display: flex;
    align-items: center;
    gap:7px;
    margin-top: 7px;
}
.quantity button{
    width: 25px;
    height: 25px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    cursor: pointer;
}
.remove{
    background: var(--primary);
    color: var(--five);
}
.cart-footer{
    padding: 20px;
    border-top: 1px solid var(--TEN);

}
.total{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.checkout{
    width: 100%;
    border: none;
    background: var(--primary);
    color: var(--five);
    padding: 13px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}
.empty-cart{
    text-align: center;
    color: var(--five);
    margin-top: 50px;
}
@media (max-width:1000px){
    .prodcuts-grid{
        grid-template-columns: repeat(3,1ft);
    }

    
}
@media (max-width:720px) {
    .prodcuts-grid{
        grid-template-columns: repeat(2,1ft);
    }
    .hero h1{
        font-size: 32px;
    }
}
@media (max-width:500px) {
    .prodcuts-grid{
        grid-template-columns: 1ft;
    }
    header{padding: 15px;}
    
}