* {
  margin: 0;
  padding: 0;
  box-sizing: border-box!important;
}

body {
  background: var(--primary)!important;
  color: var(--five)!important;
 font-family:"Sora",sans-serif;
  overflow-x: hidden;
}
#mobile-toggle i {
  font-size: 2rem;
  color: var(--TEN);
}
#mobile-toggle i:hover {
  color: var(--five);
}
#mainnav{
  background: var(  --primary);
  
}
#mainnav #logo-img {
  height: 30px;
  padding: 0px!important;
  margin-top: 3px!important;
}
#mainnav #Logo .navbar-brand{
  color: var(--TEN);
 font-family:"Sora",sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  
}
#mainnav #Logo .navbar-brand span{
  margin-left: 5px;
  color: var( --five);
 font-family:"Sora",sans-serif;
  font-size: 1.5rem;
}
#nav{
  justify-content: center!important;
  text-decoration: none!important;
  font-family:sans-serif!important;
}
#nav-ul .nav-item a{
  color: var(--five)!important;
  font-family:"Manrope",sans-serif;
  font-weight: 600;
  word-spacing: 1px;
  letter-spacing: 0.6px;

}
#nav-ul .nav-item a:hover{
  color: var(--TEN)!important;
  transition:2s;
  transform: translateY(-4px);


}
#mainnav #nav #nav-ul .nav-item  .active{
color: var(--TEN) !important;
  padding-bottom: 4px;
  position: relative;


}
#navoffcanvas-header .btn-close {
  font-size: 20px;
}
#navoffcanvas #navoffcanvas-header {
  background: var(--five);
  color: var(--TEN);
}
.offcanvas-body li {
  font-weight: 700;
  font-family:"Sora",sans-serif;
  border-bottom: 2px solid var(--primary) !important;
  
}
#section-one{
  background: url(../img/1786973351883.png);
  background-size: cover;
  width: 100%;
  height: 540px;
  position: relative;
  background-position: center;
}
 #section-one #div-left-section-one .section-one-text{
  width:40%;
  position: absolute;
  height:auto;
  padding: 3%;
  margin-top: 7%!important;
  border: 1px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background:rgba(0, 0, 0, 0.55);
  border-radius: 15px;
  backdrop-filter: blur(3px);
  z-index: 100;
 }

 #div-left-section-one .section-one-text h1{
  color:var(--five);
  font-family:"Sora",sans-serif;
  z-index: 100;
  font-weight: 500;
 }
 #div-left-section-one .section-one-text  span{
  color: var(--TEN);
  font-family:"Sora",sans-serif;
  margin-bottom: 2%;
 }
 #div-left-section-one .section-one-text p{
  font-family: "Manrope",sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
  color: var(--five);
  z-index: 100;
  margin-top: 1%;
 }
 #div-left-section-one .section-one-text #btn-section-one{
  padding: 2%;
  border: 1px solid var(--TEN);
  color: var(--five);
  z-index: 100;
  opacity: 1;
  background: var(--TEN);
  font-family:"Sora",sans-serif;
  font-weight: 500;

 }
 #div-left-section-one .section-one-text #btn-section-one i{
  margin-right:4px ;
 }
#div-left-section-one .section-one-text #btn-section-one:hover{
  background: var(--five);
  color: var(--TEN);
  transform: translateY(-2px);
  transition: all 2s;
}
 #div-left-section-one .section-one-text #btn2-section-one{
   padding: 2%;
  border: 1px solid var(--five);
  color: var(--five);
  z-index: 100;
  opacity: 100;
  margin-left: 5%;
  font-family: "Sora",sans-serif;
 }
 #div-left-section-one .section-one-text #btn2-section-one:hover{
   background: var(--TEN);
  color: var(--five);
  transform: translateY(-2px);
  transition: all 2s;
 }

 /*
#section-one #left-section-one {
  position: relative;
  width: 100%;
  justify-content: right;
}
#section-one #left-section-one img{
position: absolute;
margin-top: 20%;
animation: carmove 2s ease-in-out  0s 2  alternate;

}
@keyframes carmove{
  0%{
   transform: translateX(0);
  }
  100%{
    transform: translateX(-100px);
  }
}
*/

.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
  text-align: center;
  margin-left: 15px;
}

#nav-ul .nav-item:focus-within .sub-menu {
  display: block;
}
